// Place all the styles related to the mains controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top {
  margin: 33px;
  text-align:left;
}

.text {
  margin: 33px;
  line-height: 33px;
}

.link {
  margin: 33px;
}

.image1 {
  background-image: url(image1.jpg);
}

.image2 {
  background-image: url(image2.jpg);
}

.image3 {
  background-image: url(image3.jpg);
}

.image4 {
  background-image: url(image4.jpg);
}

.image5 {
  background-image:  url(image5.jpg);
}